<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528926877023-lvsscqudepicpea4sf312ps4vj24sdt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528926877023-lvsscqudepicpea4sf312ps4vj24sdt5</string>
	<key>API_KEY</key>
	<string>AIzaSyBBFD967z73z17WwsSusqjjUnvIs5z_V0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>528926877023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helwa.coffeeUi</string>
	<key>PROJECT_ID</key>
	<string>coffee-mate-6dd64</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-mate-6dd64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528926877023:ios:66306831e657e4931ec2ea</string>
</dict>
</plist>